body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12217 {
  position:fixed;
  left:0px;
  top:0px;
}
#u12217_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:1097px;
  background-image:none;
}
#u12217_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:1097px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12218 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:1097px;
  font-size:12px;
  text-align:left;
}
#u12219 {
  position:absolute;
  left:30px;
  top:540px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12220 {
  position:absolute;
  left:9px;
  top:108px;
  width:27px;
  height:27px;
}
#u12221 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12222 {
  position:absolute;
  left:9px;
  top:144px;
  width:27px;
  height:27px;
}
#u12223 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12224 {
  position:absolute;
  left:9px;
  top:180px;
  width:27px;
  height:27px;
}
#u12225 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12226 {
  position:absolute;
  left:9px;
  top:215px;
  width:27px;
  height:27px;
}
#u12227 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12228 {
  position:absolute;
  left:9px;
  top:251px;
  width:27px;
  height:27px;
}
#u12229 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12230 {
  position:absolute;
  left:9px;
  top:286px;
  width:27px;
  height:27px;
}
#u12231 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12232 {
  position:absolute;
  left:9px;
  top:322px;
  width:27px;
  height:27px;
}
#u12233 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12234 {
  position:absolute;
  left:9px;
  top:357px;
  width:27px;
  height:27px;
}
#u12235 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12236 {
  position:absolute;
  left:9px;
  top:393px;
  width:27px;
  height:27px;
}
#u12237 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12238 {
  position:absolute;
  left:9px;
  top:428px;
  width:27px;
  height:27px;
}
#u12239 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12240 {
  position:absolute;
  left:9px;
  top:464px;
  width:27px;
  height:27px;
}
#u12241 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12242 {
  position:absolute;
  left:9px;
  top:499px;
  width:27px;
  height:27px;
}
#u12243 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12245 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:80px;
  overflow:hidden;
}
#u12245_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12245_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12246 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12247 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u12248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:49px;
  background:inherit;
  background-color:rgba(61, 62, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12248 {
  position:absolute;
  left:0px;
  top:31px;
  width:1200px;
  height:49px;
}
#u12249 {
  position:absolute;
  left:2px;
  top:16px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u12250 {
  position:absolute;
  left:7px;
  top:44px;
  width:65px;
  height:22px;
  color:#FFFFFF;
}
#u12251 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  word-wrap:break-word;
}
#u12252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12252 {
  position:absolute;
  left:82px;
  top:47px;
  width:113px;
  height:16px;
  color:#FFFFFF;
}
#u12253 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:49px;
}
#u12254 {
  position:absolute;
  left:881px;
  top:31px;
  width:319px;
  height:49px;
}
#u12255 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12256 {
  position:absolute;
  left:54px;
  top:116px;
  width:1146px;
  height:120px;
}
#u12257 {
  position:absolute;
  left:2px;
  top:52px;
  width:1142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12258 {
  position:absolute;
  left:63px;
  top:90px;
  width:121px;
  height:16px;
}
#u12259 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12260 {
  position:absolute;
  left:634px;
  top:133px;
  width:57px;
  height:16px;
}
#u12261 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12262 {
  position:absolute;
  left:832px;
  top:134px;
  width:61px;
  height:16px;
}
#u12263 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12264 {
  position:absolute;
  left:256px;
  top:134px;
  width:43px;
  height:16px;
}
#u12265 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12266 {
  position:absolute;
  left:443px;
  top:135px;
  width:57px;
  height:16px;
}
#u12267 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12268 {
  position:absolute;
  left:63px;
  top:134px;
  width:71px;
  height:16px;
}
#u12269 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12270 {
  position:absolute;
  left:691px;
  top:130px;
  width:122px;
  height:25px;
}
#u12270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12271 {
  position:absolute;
  left:502px;
  top:130px;
  width:122px;
  height:25px;
}
#u12271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12272 {
  position:absolute;
  left:299px;
  top:130px;
  width:122px;
  height:25px;
}
#u12272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12273 {
  position:absolute;
  left:903px;
  top:129px;
  width:122px;
  height:25px;
}
#u12273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12274 {
  position:absolute;
  left:125px;
  top:130px;
  width:106px;
  height:25px;
}
#u12274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12274_input:disabled {
  color:grayText;
}
#u12275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12275 {
  position:absolute;
  left:954px;
  top:187px;
  width:39px;
  height:16px;
}
#u12276 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u12277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12277 {
  position:absolute;
  left:1021px;
  top:179px;
  width:77px;
  height:30px;
}
#u12278 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u12279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12279 {
  position:absolute;
  left:1116px;
  top:180px;
  width:77px;
  height:30px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u12281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12281 {
  position:absolute;
  left:54px;
  top:246px;
  width:1146px;
  height:576px;
}
#u12282 {
  position:absolute;
  left:2px;
  top:280px;
  width:1142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12283 {
  position:absolute;
  left:1099px;
  top:253px;
  width:94px;
  height:30px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u12285 {
  position:absolute;
  left:774px;
  top:832px;
  width:93px;
  height:25px;
}
#u12285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12285_input:disabled {
  color:grayText;
}
#u12286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12286 {
  position:absolute;
  left:877px;
  top:837px;
  width:45px;
  height:16px;
}
#u12287 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12288 {
  position:absolute;
  left:973px;
  top:832px;
  width:25px;
  height:25px;
}
#u12289 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u12290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12290 {
  position:absolute;
  left:1008px;
  top:832px;
  width:25px;
  height:25px;
}
#u12291 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u12292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12292 {
  position:absolute;
  left:938px;
  top:832px;
  width:25px;
  height:25px;
}
#u12293 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u12294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12294 {
  position:absolute;
  left:1043px;
  top:832px;
  width:25px;
  height:25px;
}
#u12295 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u12296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12296 {
  position:absolute;
  left:1098px;
  top:837px;
  width:29px;
  height:16px;
}
#u12297 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12298 {
  position:absolute;
  left:1131px;
  top:832px;
  width:34px;
  height:25px;
}
#u12298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12299 {
  position:absolute;
  left:1175px;
  top:832px;
  width:25px;
  height:25px;
}
#u12300 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u12301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12301 {
  position:absolute;
  left:995px;
  top:253px;
  width:94px;
  height:30px;
}
#u12302 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u12304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:17px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12304 {
  position:absolute;
  left:-29px;
  top:1097px;
  width:1899px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u12305 {
  position:absolute;
  left:2px;
  top:0px;
  width:1895px;
  word-wrap:break-word;
}
#u12306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12306 {
  position:absolute;
  left:1231px;
  top:116px;
  width:300px;
  height:64px;
}
#u12307 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:446px;
}
#u12308 {
  position:absolute;
  left:62px;
  top:293px;
  width:1130px;
  height:446px;
}
#u12309 {
  position:absolute;
  left:2px;
  top:215px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#7A7A7A;
}
#u12310 {
  position:absolute;
  left:101px;
  top:303px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#7A7A7A;
}
#u12311 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12312 {
  position:absolute;
  left:63px;
  top:183px;
  width:61px;
  height:16px;
}
#u12313 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12314 {
  position:absolute;
  left:134px;
  top:178px;
  width:122px;
  height:25px;
}
#u12314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
