body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12502 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  overflow:hidden;
}
#u12502_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12502_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12503 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12504 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u12505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12505 {
  position:absolute;
  left:692px;
  top:238px;
  width:120px;
  height:46px;
}
#u12506 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u12507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12507 {
  position:absolute;
  left:107px;
  top:238px;
  width:120px;
  height:46px;
}
#u12508 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u12509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12509 {
  position:absolute;
  left:403px;
  top:238px;
  width:120px;
  height:46px;
}
#u12510 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u12511 {
  position:absolute;
  left:227px;
  top:261px;
  width:0px;
  height:0px;
}
#u12511_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:180px;
  height:8px;
}
#u12512 {
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u12513 {
  position:absolute;
  left:523px;
  top:261px;
  width:0px;
  height:0px;
}
#u12513_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:173px;
  height:8px;
}
#u12514 {
  position:absolute;
  left:34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u12515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12515 {
  position:absolute;
  left:403px;
  top:155px;
  width:120px;
  height:46px;
}
#u12516 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u12517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12517 {
  position:absolute;
  left:403px;
  top:82px;
  width:120px;
  height:46px;
}
#u12518 {
  position:absolute;
  left:2px;
  top:15px;
  width:116px;
  word-wrap:break-word;
}
#u12519 {
  position:absolute;
  left:167px;
  top:238px;
  width:0px;
  height:0px;
}
#u12519_seg0 {
  position:absolute;
  left:-4px;
  top:-64px;
  width:8px;
  height:64px;
}
#u12519_seg1 {
  position:absolute;
  left:-4px;
  top:-64px;
  width:240px;
  height:8px;
}
#u12520 {
  position:absolute;
  left:38px;
  top:-68px;
  width:100px;
  word-wrap:break-word;
}
#u12521 {
  position:absolute;
  left:403px;
  top:105px;
  width:0px;
  height:0px;
}
#u12521_seg0 {
  position:absolute;
  left:-240px;
  top:-4px;
  width:240px;
  height:8px;
}
#u12521_seg1 {
  position:absolute;
  left:-240px;
  top:-4px;
  width:8px;
  height:137px;
}
#u12522 {
  position:absolute;
  left:-234px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u12523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12523 {
  position:absolute;
  left:107px;
  top:332px;
  width:384px;
  height:80px;
}
#u12524 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u12525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:602px;
}
#u12525 {
  position:absolute;
  left:107px;
  top:536px;
  width:517px;
  height:602px;
}
#u12526 {
  position:absolute;
  left:2px;
  top:293px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
