body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:49px;
}
#u12658 {
  position:absolute;
  left:279px;
  top:30px;
  width:921px;
  height:49px;
}
#u12659 {
  position:absolute;
  left:2px;
  top:16px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12661 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  overflow:hidden;
}
#u12661_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12661_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12662 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12663 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u12665 {
  position:fixed;
  left:0px;
  top:0px;
}
#u12665_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:1097px;
  background-image:none;
}
#u12665_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:1097px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12666 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:1097px;
  font-size:12px;
  text-align:left;
}
#u12667 {
  position:absolute;
  left:30px;
  top:540px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12668 {
  position:absolute;
  left:9px;
  top:108px;
  width:27px;
  height:27px;
}
#u12669 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12670 {
  position:absolute;
  left:9px;
  top:144px;
  width:27px;
  height:27px;
}
#u12671 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12672 {
  position:absolute;
  left:9px;
  top:180px;
  width:27px;
  height:27px;
}
#u12673 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12674 {
  position:absolute;
  left:9px;
  top:215px;
  width:27px;
  height:27px;
}
#u12675 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12676 {
  position:absolute;
  left:9px;
  top:251px;
  width:27px;
  height:27px;
}
#u12677 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12678 {
  position:absolute;
  left:9px;
  top:286px;
  width:27px;
  height:27px;
}
#u12679 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12680 {
  position:absolute;
  left:9px;
  top:322px;
  width:27px;
  height:27px;
}
#u12681 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12682 {
  position:absolute;
  left:9px;
  top:357px;
  width:27px;
  height:27px;
}
#u12683 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12684 {
  position:absolute;
  left:9px;
  top:393px;
  width:27px;
  height:27px;
}
#u12685 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12686 {
  position:absolute;
  left:9px;
  top:428px;
  width:27px;
  height:27px;
}
#u12687 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12688 {
  position:absolute;
  left:9px;
  top:464px;
  width:27px;
  height:27px;
}
#u12689 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12690 {
  position:absolute;
  left:9px;
  top:499px;
  width:27px;
  height:27px;
}
#u12691 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:49px;
}
#u12692 {
  position:absolute;
  left:0px;
  top:30px;
  width:413px;
  height:49px;
}
#u12693 {
  position:absolute;
  left:2px;
  top:16px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:636px;
}
#u12694 {
  position:absolute;
  left:55px;
  top:105px;
  width:844px;
  height:636px;
}
#u12695 {
  position:absolute;
  left:2px;
  top:310px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:53px;
}
#u12696 {
  position:absolute;
  left:70px;
  top:113px;
  width:192px;
  height:53px;
}
#u12697 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:71px;
}
#u12698 {
  position:absolute;
  left:559px;
  top:396px;
  width:192px;
  height:71px;
}
#u12699 {
  position:absolute;
  left:2px;
  top:28px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12700 {
  position:absolute;
  left:70px;
  top:121px;
  width:113px;
  height:37px;
}
#u12701 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u12702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12702 {
  position:absolute;
  left:499px;
  top:396px;
  width:113px;
  height:37px;
}
#u12703 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u12704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12704 {
  position:absolute;
  left:658px;
  top:396px;
  width:113px;
  height:37px;
}
#u12705 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u12706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12706 {
  position:absolute;
  left:322px;
  top:107px;
  width:271px;
  height:65px;
}
#u12707 {
  position:absolute;
  left:10px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u12708 {
  position:absolute;
  left:183px;
  top:140px;
  width:0px;
  height:0px;
}
#u12708_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:143px;
  height:8px;
}
#u12708_seg1 {
  position:absolute;
  left:127px;
  top:-9px;
  width:18px;
  height:18px;
}
#u12709 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:312px;
}
#u12710 {
  position:absolute;
  left:985px;
  top:113px;
  width:499px;
  height:312px;
}
#u12711 {
  position:absolute;
  left:2px;
  top:148px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12712 {
  position:absolute;
  left:593px;
  top:140px;
  width:0px;
  height:0px;
}
#u12712_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:381px;
  height:8px;
}
#u12712_seg1 {
  position:absolute;
  left:373px;
  top:-4px;
  width:8px;
  height:137px;
}
#u12712_seg2 {
  position:absolute;
  left:373px;
  top:125px;
  width:19px;
  height:8px;
}
#u12712_seg3 {
  position:absolute;
  left:380px;
  top:120px;
  width:18px;
  height:18px;
}
#u12713 {
  position:absolute;
  left:210px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12714 {
  position:absolute;
  left:1424px;
  top:173px;
  width:252px;
  height:147px;
}
#u12715 {
  position:absolute;
  left:10px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u12716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12716 {
  position:absolute;
  left:464px;
  top:467px;
  width:300px;
  height:128px;
}
#u12717 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12718 {
  position:absolute;
  left:464px;
  top:615px;
  width:300px;
  height:170px;
}
#u12719 {
  position:absolute;
  left:2px;
  top:61px;
  width:296px;
  word-wrap:break-word;
}
#u12720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12720 {
  position:absolute;
  left:478px;
  top:734px;
  width:113px;
  height:37px;
}
#u12721 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u12722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12722 {
  position:absolute;
  left:637px;
  top:734px;
  width:113px;
  height:37px;
}
#u12723 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u12724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u12724 {
  position:absolute;
  left:55px;
  top:89px;
  width:300px;
  height:16px;
}
#u12725 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
