body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:170px;
}
#u11752 {
  position:absolute;
  left:26px;
  top:140px;
  width:1200px;
  height:170px;
}
#u11753 {
  position:absolute;
  left:2px;
  top:77px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11755 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  overflow:hidden;
}
#u11755_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11755_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u11756 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u11757 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u11759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:17px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11759 {
  position:absolute;
  left:1px;
  top:719px;
  width:1899px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u11760 {
  position:absolute;
  left:2px;
  top:0px;
  width:1895px;
  word-wrap:break-word;
}
#u11761 {
  position:absolute;
  left:108px;
  top:108px;
  width:166px;
  height:22px;
}
#u11761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11761_input:disabled {
  color:grayText;
}
#u11762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11762 {
  position:absolute;
  left:33px;
  top:111px;
  width:71px;
  height:16px;
}
#u11763 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11764 {
  position:absolute;
  left:123px;
  top:63px;
  width:300px;
  height:16px;
}
#u11765 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11766 {
  position:absolute;
  left:33px;
  top:119px;
  width:0px;
  height:0px;
}
#u11766_seg0 {
  position:absolute;
  left:-17px;
  top:-4px;
  width:17px;
  height:8px;
}
#u11766_seg1 {
  position:absolute;
  left:-17px;
  top:-52px;
  width:8px;
  height:56px;
}
#u11766_seg2 {
  position:absolute;
  left:-17px;
  top:-52px;
  width:107px;
  height:8px;
}
#u11766_seg3 {
  position:absolute;
  left:77px;
  top:-58px;
  width:20px;
  height:20px;
}
#u11767 {
  position:absolute;
  left:-42px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11768 {
  position:absolute;
  left:58px;
  top:345px;
  width:195px;
  height:16px;
}
#u11769 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u11770 {
  position:absolute;
  left:41px;
  top:249px;
  width:0px;
  height:0px;
}
#u11770_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:108px;
}
#u11770_seg1 {
  position:absolute;
  left:-4px;
  top:100px;
  width:21px;
  height:8px;
}
#u11770_seg2 {
  position:absolute;
  left:4px;
  top:94px;
  width:20px;
  height:20px;
}
#u11771 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11772 {
  position:absolute;
  left:469px;
  top:345px;
  width:139px;
  height:16px;
}
#u11773 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u11774 {
  position:absolute;
  left:470px;
  top:211px;
  width:0px;
  height:0px;
}
#u11774_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u11774_seg1 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:28px;
  height:8px;
}
#u11774_seg2 {
  position:absolute;
  left:-24px;
  top:-4px;
  width:8px;
  height:150px;
}
#u11774_seg3 {
  position:absolute;
  left:-24px;
  top:138px;
  width:23px;
  height:8px;
}
#u11774_seg4 {
  position:absolute;
  left:-14px;
  top:132px;
  width:20px;
  height:20px;
}
#u11775 {
  position:absolute;
  left:-70px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11776 {
  position:absolute;
  left:1118px;
  top:260px;
  width:0px;
  height:0px;
}
#u11776_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u11776_seg1 {
  position:absolute;
  left:-151px;
  top:96px;
  width:155px;
  height:8px;
}
#u11776_seg2 {
  position:absolute;
  left:-158px;
  top:90px;
  width:20px;
  height:20px;
}
#u11777 {
  position:absolute;
  left:-76px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11778 {
  position:absolute;
  left:626px;
  top:320px;
  width:341px;
  height:80px;
}
#u11779 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
