body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12483 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  overflow:hidden;
}
#u12483_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12483_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12484 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12485 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u12487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:17px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12487 {
  position:absolute;
  left:0px;
  top:771px;
  width:1899px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u12488 {
  position:absolute;
  left:2px;
  top:0px;
  width:1895px;
  word-wrap:break-word;
}
#u12489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:138px;
}
#u12489 {
  position:absolute;
  left:24px;
  top:69px;
  width:1200px;
  height:138px;
}
#u12490 {
  position:absolute;
  left:2px;
  top:61px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12491 {
  position:absolute;
  left:24px;
  top:235px;
  width:461px;
  height:96px;
}
#u12492 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u12493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12493 {
  position:absolute;
  left:24px;
  top:345px;
  width:57px;
  height:16px;
}
#u12494 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12495 {
  position:absolute;
  left:91px;
  top:341px;
  width:129px;
  height:25px;
}
#u12495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12496 {
  position:absolute;
  left:230px;
  top:346px;
  width:15px;
  height:15px;
}
#u12497 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12498 {
  position:absolute;
  left:24px;
  top:371px;
  width:319px;
  height:170px;
}
#u12499 {
  position:absolute;
  left:2px;
  top:69px;
  width:315px;
  word-wrap:break-word;
}
#u12500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12500 {
  position:absolute;
  left:24px;
  top:551px;
  width:448px;
  height:96px;
}
#u12501 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
