body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12442 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  overflow:hidden;
}
#u12442_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12442_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12443 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12444 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u12446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:17px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12446 {
  position:absolute;
  left:0px;
  top:771px;
  width:1899px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u12447 {
  position:absolute;
  left:2px;
  top:0px;
  width:1895px;
  word-wrap:break-word;
}
#u12448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:138px;
}
#u12448 {
  position:absolute;
  left:24px;
  top:69px;
  width:1200px;
  height:138px;
}
#u12449 {
  position:absolute;
  left:2px;
  top:61px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12450 {
  position:absolute;
  left:24px;
  top:235px;
  width:461px;
  height:96px;
}
#u12451 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u12452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12452 {
  position:absolute;
  left:24px;
  top:345px;
  width:57px;
  height:16px;
}
#u12453 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12454 {
  position:absolute;
  left:91px;
  top:341px;
  width:129px;
  height:25px;
}
#u12454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12455 {
  position:absolute;
  left:230px;
  top:346px;
  width:15px;
  height:15px;
}
#u12456 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12457 {
  position:absolute;
  left:24px;
  top:371px;
  width:319px;
  height:170px;
}
#u12458 {
  position:absolute;
  left:2px;
  top:69px;
  width:315px;
  word-wrap:break-word;
}
#u12459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12459 {
  position:absolute;
  left:24px;
  top:551px;
  width:448px;
  height:96px;
}
#u12460 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
