body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12637 {
  position:absolute;
  left:38px;
  top:259px;
  width:429px;
  height:99px;
}
#u12638 {
  position:absolute;
  left:2px;
  top:42px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12639 {
  position:absolute;
  left:189px;
  top:94px;
  width:128px;
  height:51px;
}
#u12640 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u12641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12641 {
  position:absolute;
  left:59px;
  top:283px;
  width:128px;
  height:51px;
}
#u12642 {
  position:absolute;
  left:2px;
  top:18px;
  width:124px;
  word-wrap:break-word;
}
#u12643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12643 {
  position:absolute;
  left:324px;
  top:283px;
  width:128px;
  height:51px;
}
#u12644 {
  position:absolute;
  left:2px;
  top:18px;
  width:124px;
  word-wrap:break-word;
}
#u12645 {
  position:absolute;
  left:187px;
  top:309px;
  width:0px;
  height:0px;
}
#u12645_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u12646 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u12647 {
  position:absolute;
  left:253px;
  top:145px;
  width:0px;
  height:0px;
}
#u12647_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:118px;
}
#u12647_seg1 {
  position:absolute;
  left:-9px;
  top:102px;
  width:18px;
  height:18px;
}
#u12648 {
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  word-wrap:break-word;
}
#u12650 {
  position:fixed;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  overflow:hidden;
}
#u12650_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12650_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12651 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12652 {
  position:absolute;
  left:2px;
  top:4px;
  width:1895px;
  word-wrap:break-word;
}
#u12653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12653 {
  position:absolute;
  left:571px;
  top:88px;
  width:491px;
  height:16px;
}
#u12654 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
#u12656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:17px;
  background:inherit;
  background-color:rgba(75, 77, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12656 {
  position:absolute;
  left:0px;
  top:422px;
  width:1899px;
  height:17px;
  font-size:14px;
  color:#FFFFFF;
}
#u12657 {
  position:absolute;
  left:2px;
  top:0px;
  width:1895px;
  word-wrap:break-word;
}
